img{
	display: none;
}

header{
	background: #666666;
}

h1{
	background: #B3B3B3B3;
	text-align: center;
	text-transform: uppercase;

}

h2{
	color: #;
	text-transform: uppercase;
}

section{
	color: ;
	background: #32C12C;
}

body{
	background: #CDE000;
}

a{
	text-decoration: none;
	display: inline-block;
}

li{
	display: inline-block;
}